.embed-youtube {
    font-size: 90%;
}
.embed-youtube a:before {
    content: "\f236";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 20px/1 'dashicons';
    vertical-align: top;
    margin-right: 5px;
}
.ytright {
    text-align: right;
}
.ytleft {
    text-align: left;
}
.ytmiddle {
    text-align: center;
}