/*
SASS Definitions for FAU oEmbed Plugin
*/

.fau-oembed {
    
    iframe {
	border: 0; 
	padding: 0; 
	margin: 0;
	overflow: hidden;
    }
    

}

@media (min-width: 992px) {
    .page-template-page-subnav {
       .fau-oembed {
	   iframe.defaultwidth {
	       width: 617px;
	       height: 346px;
	   }
       }
    }

    .page-template-default {
       .fau-oembed {
	   iframe.defaultwidth {
	       width: 940px;
	       height: 528px;
	   }
       }

    }
}